.backblur{
  display: flex;
  opacity: 0;
  visibility: hidden;
  min-width: 100dvw;
  min-height: 100vh;
  background: linear-gradient(180deg, #42414e9e 0%, rgb(66 65 78 / 5%) 100%);;
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  justify-content: center;
  align-items: center;

  &.active{
    opacity: 1;
    visibility: visible;
  }
}