@use '../../../mixins/fonts.scss';

.contacts{
    &__title-text{
        &--1{
            @include fonts.Noto-sans(48px, 600, 40px, -4px);
            color: rgba(255, 255, 255, 1);
        }

        &--2{
            @include fonts.Noto-sans(32px, 500, 40px, 0px);
            color: rgba(255, 255, 255, 1);
        }

        &--3{
            @include fonts.Noto-sans(32px, 800, 40px, -2px);
            color: rgba(67, 185, 105, 1);
            font-style: italic;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 16px;
            padding: 10px;
            width: fit-content;
        }

        &--4{
            @include fonts.Noto-sans(32px, 500, 40px, 0px);
            color: rgba(255, 255, 255, 1);
            text-align: right;
        }
    }

    &__address-text{
        @include fonts.Noto-sans(18px, 500, 24px, 0px);
        color: rgba(45, 45, 45, 1);

        &_green{
            font-size: 14px;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: -1px;
            color: rgba(67, 185, 105, 1);
        }
    }
}