.message{
  width: 449px;
  height: auto;
  border-radius: 16px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 48px 32px 32px 32px;
  gap: 16px;
  transform: translateY(50px);
  opacity: 0;
  transition: transform, opacity, 0.5s ease-in-out;

  &.active{
    transform: translateY(0px);
    opacity: 1;
  }
}