@media (max-width: 1364px) {
    .qwiz{
        &__question-answers{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 26px;
        }
    }
}