//Desktop
@use './common/_title/_text.scss';
@use './common/_title/_title.scss';

.feedbacks{
    background-color: rgba(180, 227, 195, 1);

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 71px;
    }
}