.header{
    &__decorate{
        position: absolute;
        border: 20px solid white;
        border-top: 1px;
        border-bottom: 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 255, 0);
        transform: translateY(46px);
    }

    &__corner{
        &:nth-of-type(2){
            transform: scale(-1, 1);
        }
    }
}