
@media (max-width: 788px) {
  .feedbacks{
    &__title-text{
      &--1{
        font-size: 24px;
        line-height: 100%;
        letter-spacing: -2px;
      }

      &--2{
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0px;
      }

      &--3{
        font-size: 22px;
        line-height: 40px;
        letter-spacing: -2px;
        flex-direction: column;
        display: flex;
      }
    }
  }
}