@media (max-width: 748px) {
  .feedbacks{
    &__title-block{
      gap: 0px;
      margin-bottom: 16px;
    }
  }

}

@media (max-width: 506px) {
  .feedbacks{
    &__title-block{
      align-self: flex-start;
      flex-direction: column;
      align-items: flex-start;
      gap: 0px;
      margin-bottom: 16px;
    }
  }

}