.contacts{
    &__map-block{
        width: 788px;
        min-width: 788px;
        height: 472px;
        min-height: 472px;
        border-radius: 26px;
        overflow: hidden;
        background-color: #ffffff;
    }
}