.message{
  &__btn-close{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    border: 0px;

    &--img{
      width: 13px;
      height: 13px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      &:nth-of-type(1){
        background-image: url('../../../assets/svg/hero/cross.svg');
      }
      &:nth-of-type(2){
        background-image: url('../../../assets/svg/hero/cross_white.svg');
        display: none;
      }
    }

    &:hover{
      background-color: rgba(30, 134, 62, 0.25);
    }
    &:active{
      background-color: rgba(30, 134, 62, 0.6);
      &:nth-child(1){display: none}
      &:nth-child(2){display: flex}
    }
  }
}