@media (max-width: 1024px) {
    .contacts{
        &__title-text{
            &--1{
                font-size: 24px;
                line-height: 100%;
                letter-spacing: -2px;
            }

            &--2{
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0px;
            }

            &--3{
                font-size: 22px;
                line-height: 40px;
                letter-spacing: -2px;
                font-weight: 800;
                padding: 10px;
            }

            &--4{
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0px;
            }
        }

        &__address-text{
            font-size: 18px;
            line-height: 110%;
            font-weight: 500;
            letter-spacing: 0px;

            &_green{
                font-size: 14px;
                font-weight: 700;
                line-height: 100%;
                letter-spacing: -1px;
            }
        }
    }
}