.feedbacks{
  &__img-block {
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-template-rows: calc(50% - 5px) calc(50% - 5px);
    gap: 10px;
    grid-template-areas:
                        "img1 img3"
                        "img2 img3";
    border-radius: 16px;
    width: 100%;
    height: 249px;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 10px;
  }
  &__img{
    border-radius: 16px;
    &:nth-child(1){grid-area: img1; width: 100%; height: 100%}
    &:nth-child(2){grid-area: img2; width: 100%; height: 100%}
    &:nth-child(3){grid-area: img3; width: 100%; height: 100%}
  }
}