@media (max-width: 1106px) {
    .qwiz{
        &__qwiz-block{
            width: 365px;
            height: 752px;
            padding: 10px;
            margin: 0px 0px 37px 0px;


            &.lastBlock{
                height: 718px;
            }
        }
    }
}

@media (max-width: 398px) {
    .qwiz{
        &__qwiz-block{
            width: calc(100dvw - 32px)
        }
    }
}