@media (max-width: 1164px) {
    .hero{
        &__img-jaw{
          &--item{
            width: 189px;
          }
        }
    }
}

@media (max-width: 1040px) {
    .hero{
        &__img-jaw{
            position: absolute;
            top: 122px;
        }
    }
}