.feedbacks{
  &__info-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 16px;
    gap: 16px;
    background-color: rgba(255, 255, 255, 1);
  }
}