@use './_title/title';
@use './question/question';

.faq{
    background-color: rgba(255, 255, 255, 1);
    &__content{
        max-width: 932px;
        min-width: 932px;
        display: flex;
        gap: 32px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 60px 0px 16px 0px;
    }
}

@media (max-width: 1007px) {
    .faq{
        &__content{
            max-width: calc(100dvw - 32px);
            min-width: calc(100dvw - 32px);
        }
    }
}

