@use '../../mixins/fonts.scss';
@use '../../mixins/colors.scss';
@use 'sass:map';

.message{
  &__text-title{
    @include fonts.Noto-sans(28px, 700, 100%, -0.5px);
    color: map.get(colors.$colors, secondary);
    text-align: center;
  }
  &__text-p{
    @include fonts.Noto-sans(16px, 400, 100%, -0.5px);
    color: map.get(colors.$colors, secondary);
    text-align: center;

    &_green{
      color: rgb(67, 185, 105);
    }
  }
}