@use '../../../../mixins/colors.scss';
@use '../../../../mixins/fonts.scss';
@use 'sass:map';

.qwiz{
    &__title{
        &--text{
            @include fonts.Noto-sans(48px, 600, 40px, -4px);
            color: map.get(colors.$colors, secondary);
            hyphens: none;
            word-break: break-all;
            overflow-wrap: normal;
            white-space: nowrap;

            &_white{
                font-size: 29px;
                font-weight: 800;
                letter-spacing: -2px;
                font-style: italic;
                text-transform: uppercase;
                background-color: map.get(colors.$colors, white);
                border-radius: 16px;
                padding: 10px;
                margin-top: 6px;
            }

            &_green{
                color: map.get(colors.$colors, white);
                font-size: 32px;
                font-weight: 800;
                letter-spacing: -2px;
                font-style: italic;
                text-transform: uppercase;
                background-color: rgba(92, 195, 123, 1);
                border-radius: 16px;
                padding: 10px;
            }
        }
    }
}