.feedbacks{
  &__review-block{
    width: 361px;
    max-width: 361px;
    min-width: 361px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:nth-of-type(2){
      & .feedbacks__info-text{
        margin-bottom: 8px;
      }
    }
  }
}