// Desktop
@use './common/_text/text' as *;
@use './common/_address_block/block' as *;
@use './common/_map/map' as *;

// Tablet
@use './tablet/_map/map' as *;
@use './tablet/_text/text' as *;
@use './tablet/_address_block/block' as *;

// Phone
@use './phone/_address_block/block' as *;
@use './phone/_text/text' as *;
@use './phone/_map/map' as *;

.contacts{
    background-color: rgba(67, 185, 105, 1);
    &__content{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        margin: 60px 0px;
    }

    &__title-block{
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}

@media (max-width: 820px) {
    .contacts{
        &__content{
            flex-direction: column;
            align-items: center;
            gap: 32px;
        }
    }
}