// Desktop
@use './common/_nav/_btn/btn' as *;
@use './common/_btn/btn' as *;
@use './common/_text/text' as *;

.footer{
    background-color: rgba(30, 134, 62, 1);

    &__content{
        margin: 60px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        min-width: 100%;
    }

    &__block{
        width: 100%;
    }
}