@media (max-width: 1364px) {
    .qwiz{
        &__question-title{
            display: flex;
            flex-direction: column;
            gap: 8px;

            &--1{
                font-size: 18px;
            }

            &--2{
                font-size: 22px;
                line-height: 24px;
            }
        }
    }
}