@media (max-width: 1346px) {
    .contacts{
        &__title-text{
            &--1{
                font-size: 42px;
                line-height: 36px;
            }

            &--2{
                font-size: 26px;
                line-height: 32px;
            }

            &--3{
                font-size: 26px;
                line-height: 32px;
            }

            &--4{
                font-size: 26px;
                line-height: 32px;
            }
        }

        &__address-text{
            font-size: 16px;
            line-height: 100%;
        }
    }
}